# Group Dispense Verification

To group verify the bulk dispenses, the pharmacist can verify all bulk dispenses in Group Dispense Verification.

Click **Group Dispense** and **Mark All Verified**. This will move all prescriptions into the appropriate hand-off methods.

<figure><img src="../.gitbook/assets/image (397).png" alt=""><figcaption></figcaption></figure>
