# Completing Identity Verification

Once identity verification begins, a pop-up will appear indicating that Pharmetika partners with Stripe to verify identity. Please review the information, then click “Agree and Continue.”

<figure><img src="../.gitbook/assets/PMK and Stripe EPCS.png" alt="" width="375"><figcaption></figcaption></figure>

To continue on your mobile device, use your camera to scan the QR code and open the verification link. If you prefer not to scan the QR code, select **Other options**.

<figure><img src="../.gitbook/assets/EPCS QR Code.png" alt="" width="375"><figcaption></figcaption></figure>

<figure><img src="../.gitbook/assets/EPCS Other Options.png" alt="" width="367"><figcaption></figcaption></figure>

If you’re continuing on your mobile device, scan the QR code and tap the link that appears. The computer screen will update automatically as shown below. Alternatively, you can select **Continue on this device**.

<figure><img src="../.gitbook/assets/Continue Verification on Mobile Device.png" alt="" width="375"><figcaption></figcaption></figure>

When you are ready to scan your ID, click **I’m ready**.

<figure><img src="../.gitbook/assets/Front ID Ready.png" alt="" width="366"><figcaption></figcaption></figure>

Scan the front of your ID. The screen will provide guidance on how to position it before capturing the image. You can also manually take the photo by using the toggle at the top of the screen.

<figure><img src="../.gitbook/assets/Front ID Scan.png" alt="" width="375"><figcaption></figcaption></figure>

{% hint style="warning" %}
Do not use a paper copy or a digital image of the ID. Also ensure the photo is clear and not blurry, as Stripe will reject unclear submissions and require the image to be retaken.
{% endhint %}

<figure><img src="../.gitbook/assets/ID Scan Rejection.png" alt="" width="563"><figcaption></figcaption></figure>

Review the scanned ID photo, then click **Submit**.

<figure><img src="../.gitbook/assets/Front ID Review.png" alt="" width="375"><figcaption></figcaption></figure>

When ready, turn the ID over to the back side and click **I’m ready**.

<figure><img src="../.gitbook/assets/Back ID Ready.png" alt="" width="375"><figcaption></figcaption></figure>

Scan the back of your ID. The screen will guide you on how to position it before capturing the photo. You can also manually take the photo by using the toggle at the top of the screen.

<figure><img src="../.gitbook/assets/Back ID Scan.png" alt="" width="370"><figcaption></figcaption></figure>

Review the scanned ID photo, then click **Submit**.

<figure><img src="../.gitbook/assets/Back ID Review.png" alt="" width="375"><figcaption></figcaption></figure>

{% hint style="warning" %}
Do not use a paper copy or a digital image of the ID. Make sure the submitted photo is clear and not blurry, as Stripe will reject unclear images and require the photo to be retaken.
{% endhint %}

<figure><img src="../.gitbook/assets/Back ID Rejection.png" alt="" width="522"><figcaption></figcaption></figure>

Lastly, take a selfie by selecting **Allow** when prompted on the next screen.

<figure><img src="../.gitbook/assets/Ready for Selfie.png" alt="" width="375"><figcaption></figcaption></figure>

After granting permission, the screen will guide you through taking a selfie (center, right, and left angles of your face) and will automatically capture the image.

<figure><img src="../.gitbook/assets/Selfie Guidance.png" alt="" width="375"><figcaption></figcaption></figure>

Once the selfie has been captured, the identity verification will be submitted for review. Click **Done** to close the pop-up, then return to the original screen where the request was initiated.

<figure><img src="../.gitbook/assets/ID Review Submitted.png" alt="" width="375"><figcaption></figcaption></figure>

The system will display a <mark style="color:green;">**green**</mark> notification confirming that the identity verification was successful.

<figure><img src="../.gitbook/assets/ID Verfication Success.png" alt=""><figcaption></figcaption></figure>

If the session expires or you close the pop-up, a <mark style="color:red;">**red**</mark> notification will appear and you will need to restart the process.

<figure><img src="../.gitbook/assets/ID Verification Failed.png" alt=""><figcaption></figcaption></figure>

If additional information is required for identity verification, the system will display a <mark style="color:yellow;">**dark yellow**</mark> notification.

<figure><img src="../.gitbook/assets/ID Requires Additional Info.png" alt=""><figcaption></figcaption></figure>

{% hint style="info" %}
IMPORTANT:

* An email will be sent out to providers with the tracking information for the token.
* The package will **require a signature** upon delivery.
*   Please allow up to 10 business days after completing the identity verification to

    receive the token.
*   Identity verification by Stripe **must be successfully completed** before the token can be

    processed and shipped.
{% endhint %}
